# blender backup
*.blend1
*.blend2

# pre-rendered
assets/*_RAW.avi

# rendered
data/description-*.txt
render/*.avi
render/backup

# personal files & folders
inspiration/*
press/*
*.zip

# API secrets
scripts/*.json
