# Blender backup
*.blend1
*.blend2

# Pre-renders
assets/*_RAW.avi

# Rendered
data/description-*.txt
render/*.avi
render/backup

# Personal files & folders
inspiration/*
press/*
*.zip

# API secrets
scripts/*.json
qarnot-python-sdk/qarnot.conf 

# Qarnot related
qarnot-python-sdk/output/
qarnot-python-sdk/qapy/__pycache__/

